{% load static %}
<!DOCTYPE html>
<style>
:focus {

    outline: none;

}  
.custom-column-width {
    width: 600px;
}  
.no-zoom {
  transform: scale(1);
}

</style>



<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- These styles from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_treeview -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'annotateImage.js' %}"></script>
    <script src="{% static 'tagBlock.js' %}"></script>
</head>
<body onresize="onWindowResize()">
<form id="tagForm" method="post" action="">
  {% csrf_token %}    
<input id="tagInput" type="hidden" name="noNameYet" value="1"/>  

<div class="container-fluid">
    

    <div class="position-fixed" style="white-space: nowrap;overflow: hidden;  top: 0px; left: 50%; transform: translateX(-50%);z-index: 999">
    <h4 class="text-center" id="headingText">Loading version ...</h4>
    
    <div class="text-center" >
        <div class="btn-group" >
        <button id="prevImage" class="btn btn-sm btn-light btn-outline-dark no-zoom" onclick="postViewForm(1)">Previous <i class="fa">&#xf060;</i></button>
        <button id="nextImage" class="btn btn-sm btn-light btn-outline-dark no-zoom" onclick="postViewForm(2)">Next <i class="fa">&#xf061;</i></button>
        <button id="saveButton" class="btn btn-sm btn-light btn-outline-dark no-zoom"onclick="postViewForm(3)">Save <i class="fa">&#xf0c7;</i></button>
        <button id="endTranscript" class="btn btn-sm btn-light btn-outline-dark no-zoom" onclick="postViewForm(4)">Quit  <i class="fa">&#xf015;</i></button>
        <button id="submitTranscript" class="btn btn-sm btn-light btn-outline-dark no-zoom" onclick="postViewForm(5)">Submit for Checking <i class="fa">&#xf1d9;</i></button>        
        <button id="checkTranscript" class="btn btn-sm btn-light btn-outline-dark no-zoom" onclick="postViewForm(6)">Done checking<i class="fa">&#xf00c;</i></button>   
        </div> 
    </div>
    
    <img id="leftImage" width="40" height="50" src="{% static img_file %}" alt="Manuscript" disabled hidden>
    <img id="rightImage" width="40" height="50" src="{% static img_file %}" alt="Manuscript" disabled hidden>

    
    <div class="row">
            
            
                <div class="btn-group border">
                <button type="button" id="showTagsButton" onclick="onshowTagsButton()" class="btn btn-sm btn-light btn-outline-dark no-zoom">Tags <i class="fa">&#xf070;</i></button>    
                <button type="button" id="drawButton" onclick="onDrawButton()" class="btn btn-sm btn-light btn-outline-dark no-zoom">Draw '+' <i class="fa"> &#xf040; </i></button>
                <button type="button" id="deleteButton" onclick="onDeleteButton()" disabled class="btn btn-sm btn-light btn-outline-dark no-zoom">Delete <i class="fa">&#xf014;</i></button>
                <button type="button" id="zoomPlus" onclick="zoomPlusClicked()" class="btn btn-sm btn-light btn-outline-dark no-zoom">Zoom +<i class="fa">&#xf00e;</i></button>
                <button type="button" id="zoomMinus" onclick="zoomMinusClicked()" class="btn btn-sm btn-light btn-outline-dark no-zoom">Zoom -<i class="fa">&#xf010;</i></button>
                <button type="button" id="ZoomBoxPlus" onclick="zoomBoxPlusClicked()" class="btn btn-sm btn-light btn-outline-dark no-zoom">Lens +<i class="fa">&#xf00e;</i></button>
                <button type="button" id="zoomBoxMinus" onclick="zoomBoxMinusClicked()" class="btn btn-sm btn-light btn-outline-dark no-zoom">Lens -<i class="fa">&#xf010;</i></button>
                <button type="button" id="convertNumber" onclick="ConvertNumbers()" class="btn btn-sm btn-light btn-outline-dark no-zoom">Number<i class="fa">&#xf1ec;</i></button>
                Line size: <input type="number" id="lineSize" value="5" min="1" max="20" style="width:60px" onchange="changeLineSize(event)">
                Radius: <input type="number" id="radius" value="5" min="1" max="7" style="width:60px" onchange="changeRadius(event)">
                </div>
         
    </div>

    </div>

    <br><br><br><br><br>

    <div class="row flex-nowrap">
            <div id="leftColumn" class="col-md-6">
                
                        <label id="leftImageName" class="form-label">Left Image name</label>
                        <canvas id="leftCanvas" style="border:1px solid #d3d3d3; width: 100%;">
                        </canvas>            
                           
                        
                        <select class="form-select" id="leftSelect" onchange="leftSelectJson()"></select>
              
            </div>    
            <div id="rightColumn" class="col-md-6">
               
                        <label id="rightImageName" class="form-label" >Right Image name</label>
                        <canvas id="rightCanvas" style="border:1px solid #d3d3d3; width: 100%;">
                        </canvas>    
                        <label for="writer">Writer:</label>
                        <input type="text" id="writer" name="writer" placeholder="Writer">
                        <p></p>
                        <label for="comment">Comments:</label>
                        <input type="text" id="comment" name="comment" placeholder="Comments">
                        

            </div>
    </div>
        
    <p id="log"></p>
    <p id="log0"></p>
    <p id="log1"></p>
    <p>
        <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            Debug
        </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body">
                <p id="log2"> </p>
            </div>
            <div class="card card-body" >
                <p id="log3"> </p>
            </div>
            <div class="card card-body">
                <p id="log4"></p>
            </div>
        </div>
    </div>

</div>


<br><br>

<!-- The Modal for zoom box-->
  <div id="myModal" style="border:1px solid dimgray;opacity=1.0;z-index: 999;background-color: lightgray;">
    <span class="close" onclick="closeModal()">&times;</span>
      <div id="zoomBox" style="width: 100%; height: 100%; position: relative; background: url('{% static img_file %}')"> 
      </div>
    </div>

    <!-- The Modal for input text -->
    <div id="textModal" style="position:absolute;display:none;z-index:999;padding-top:0px;opacity=0.5;
             width:100%;height:80px;overflow:auto;">

      <!-- Modal content from W3 schools-->
      <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <textarea id="textInputTempField" rows="1" cols="200" style="border:transparent;position:absolute;top:0px;width:100%;font-size: 14pt">Some text in the Modal..</textarea>
      </div>

    </div>


</form>
</body>
<script>
    let COL_WIDTH = 6;
    let IMAGE_FILENAME = "{% static img_file %}"
    let IMAGES = {{images_obj|safe}};
    let ADMIN = {{admin|safe}};
    let CHECKING = {{checking}};
    let SCROLL_POSITION = {{scroll_position|safe}};
    let OPTIONS = {{options|safe}}
    let TIME_START = new Date();
    let ANNOTATOR = ""; //filled after page loaded in makeDefaultSelections
    let JSON_FILE = ""; //filled when loading page in makeDefaultSelections
    let INPUT_JSON = {{jsonList|safe}}
    let TOTAL_TIME = 0;
    let HEADING = "{{heading}}"
                          
    let TAG_DICTIONARY = {{tagDictionary|safe}}            
    let TAG_ITEMS = Object.keys(TAG_DICTIONARY);
    let REGION_KEYS = ['Region_Text', 'Region_Header', 'Region_Footer'];
    if (INPUT_JSON.fileList.length > 0 && "time" in INPUT_JSON[INPUT_JSON.fileList[0]])
        TOTAL_TIME = INPUT_JSON[INPUT_JSON.fileList[0]]['time'];
    

    let SHOW_TAGS = true;
    getSetOptions();
    

    document.getElementById("leftColumn").className = 'col-md-' + COL_WIDTH;
    document.getElementById("rightColumn").className = 'col-md-' + COL_WIDTH;   


    window.onload = function() {
        headingText.innerHTML = HEADING;
        let left_file = "{% static img_file %}";
        let right_file = "{% static img_file %}";
        initPage(left_file, right_file, INPUT_JSON);
        window.scrollTo(SCROLL_POSITION.x, SCROLL_POSITION.y); 
        if (LEFT_PAGE.canvas.height == 0 || RIGHT_PAGE.canvas.height==0)
            document.location.reload();

        
    }	


    


    
</script>
</html>
