{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'annotate.css' %}">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <title>Arabic Annotations</title>
</head>
<body>
<div class="container">
    <h1 class="text-center top-buffer">Arabic Annotations</h1>
    <div class="row">
        <div class="col">
            <label for="users">Upload file for: </label>
            <select class="form-select" id="users" onchange="submitSelectedUser()" required>
                <option value="">-- Please select a user --</option>
                {% for user in users %}
                <option value={{user}}> {{user}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br> 
    <form class="row g-3 top-buffer" method="post" enctype="multipart/form-data" id="uploadForm" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <input type="file" name="files" accept=".jpg" id="fileDialog" multiple required disabled>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button id="uploadButton" disabled type="submit">Upload</button>
                <input id="userSelected" type="hidden" name="user" value=""/>
                <br>
            </div>
        </div>
        <br><br>
    
    </form>

    
    <div class="row">
        <div class="col">
            <label for="selectedFiles" disabled>Selected files: </label>
            <br><br>
            <select id="selectedFiles" multiple required disabled></select>
        </div>
    </div>
    <br><br>


    
    <div class="row top-buffer">
        <div class="col">

            <label for="errorLogs" class="form-label" disabled> Error Logs. Not uploaded: </label><br>
            <select class="form-select" id="errorLogs" multiple required></select>
        </div>
        <div class="col text-center">        
            <label for="logs" disabled>Uploaded successfully: </label><br>
            <select class="form-select" id="logs" multiple required></select>
        </div>    
    </div>

    </div>
    <script src="{% static 'uploadFiles.js' %}"></script>
    <script>
        let NOT_DONE = {{not_done|safe}}
        let DONE = {{done|safe}}
        let ERROR = {{error|safe}}[0];
        window.onload = function() {
        // update the userSelected field    
        //submitSelectedUser();
        let fileDialog = document.getElementById("fileDialog");
        fileDialog.addEventListener("change", showSelectedFiles);
        displayErrors(NOT_DONE, ERROR);
        displayDone(DONE);
    }
    </script>    
</body>
</html>
